![Illustration of silhouetted heads](mentalhealth.jpg)

Does going to university in a different country affect your mental health? A Japanese international university surveyed its students in 2018 and published a study the following year that was approved by several ethical and regulatory boards.

The study found that international students have a higher risk of mental health difficulties than the general population. Explore the `students` data using PostgreSQL to find out if this is true and see if the length of stay is a contributing factor.

Here is a data description of the columns you may find helpful.

| Field Name    | Description                                      | 
| ------------- | ------------------------------------------------ |
| inter_dom     | Types of students                                |
| japanese_cate | Japanese language proficiency                    | 
| english_cate  | English language proficiency                     |
| academic      | Current academic level                           | 
| age           | Current age of student                           |
| stay          | Current length of stay in years                  |
| todep         | Total score of depression (PHQ-9 test)           |
| tosc          | Total score of social connectedness (SCS test)   |
| toas          | Total score of Acculturative Stress (ASISS test) |

In [2]:
-- Count the number of all records
SELECT COUNT(*) AS total_records
FROM students;

   total_records
0            286

In [4]:
-- This query provides the total count of records in the students table.

SELECT inter_dom, COUNT(*) AS count_per_type
FROM students
GROUP BY inter_dom;

  inter_dom  count_per_type
0       Dom              67
1                        18
2     Inter             201

In [5]:
-- This query counts the number of records per student type (inter_dom) and provides the count for each type.

SELECT
    MIN(todep) AS min_phq,
    MAX(todep) AS max_phq,
    ROUND(AVG(todep)::numeric, 2) AS avg_phq,
    MIN(tosc) AS min_scs,
    MAX(tosc) AS max_scs,
    ROUND(AVG(tosc)::numeric, 2) AS avg_scs,
    MIN(toas) AS min_asiss,
    MAX(toas) AS max_asiss,
    ROUND(AVG(toas)::numeric, 2) AS avg_asiss
FROM students;

   min_phq  max_phq  avg_phq  min_scs  ...  avg_scs  min_asiss  max_asiss  avg_asiss
0        0       25     8.19        8  ...    37.47         36        145      72.38

[1 rows x 9 columns]

In [6]:

-- This query calculates the summary statistics (minimum, maximum, and average) for the diagnostic tests (todep, tosc, toas) for all students in the table.
SELECT
    MIN(todep) AS min_phq,
    MAX(todep) AS max_phq,
    ROUND(AVG(todep)::numeric, 2) AS avg_phq,
    MIN(tosc) AS min_scs,
    MAX(tosc) AS max_scs,
    ROUND(AVG(tosc)::numeric, 2) AS avg_scs,
    MIN(toas) AS min_asiss,
    MAX(toas) AS max_asiss,
    ROUND(AVG(toas)::numeric, 2) AS avg_asiss
FROM students
WHERE inter_dom = 'Inter';

   min_phq  max_phq  avg_phq  min_scs  ...  avg_scs  min_asiss  max_asiss  avg_asiss
0        0       25     8.04       11  ...    37.42         36        145      75.56

[1 rows x 9 columns]

In [7]:
-- This query calculates the summary statistics (minimum, maximum, and average) for the diagnostic tests (todep, tosc, toas) specifically for international students.
SELECT stay,
    ROUND(AVG(todep), 2) AS average_phq,
    ROUND(AVG(tosc), 2) AS average_scs,
    ROUND(AVG(toas), 2) AS average_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC;

   stay  average_phq  average_scs  average_as
0    10        13.00        32.00       50.00
1     8        10.00        44.00       65.00
2     7         4.00        48.00       45.00
3     6         6.00        38.00       58.67
4     5         0.00        34.00       91.00
5     4         8.57        33.93       87.71
6     3         9.09        37.13       78.00
7     2         8.28        37.08       77.67
8     1         7.48        38.11       72.80